<h1>Domains</h1>

<p>
  » <%= link_to 'New domain', new_domain_path %>
</p>

<table>
  <thead>
    <tr>
      <th>Domain</th>
      <th>Type</th>
      <th>Enabled</th>
      <th>Catchall</th>
      <th>Alias target</th>
      <th colspan="4">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @domains.each do |domain| %>
      <tr>
        <td><%= domain.domain %></td>
        <td class="tableEnum"><%= domain.type.humanize %></td>
        <td class="tableBoolean"><%= domain.enabled ? 'yes' : 'no' %></td>
        <td class="tableBoolean"><%= domain.local_domain? ? (domain.catchall ? 'yes' : 'no') : '' %></td>
        <td><%= domain.alias_domain? ? truncate(domain.alias_target, length: 50) : '' %></td>
        <td class="tableActions"><%= link_to 'Show', domain %></td>
        <td class="tableActions"><%= link_to 'Edit', edit_domain_path(domain) %></td>
        <td class="tableActions"><%= link_to_if domain.local_domain?, 'Manage accounts', domain_accounts_path(domain) %></td>
        <td class="tableActions"><%= link_to 'Destroy', domain, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  » <%= link_to 'New domain', new_domain_path %>
</p>