<h1>Show domain</h1>

<p>
  <strong>Domain:</strong>
  <%= @domain.domain %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @domain.enabled %>
</p>

<p>
  <strong>Actions:</strong>
  <%= link_to 'Edit domain', edit_domain_path(@domain) %> |
  <%= link_to 'Manage accounts', domain_accounts_path(@domain) %> |
  <%= link_to 'Destroy domain', @domain, method: :delete, data: { confirm: 'Are you sure?' } %>
</p>