<h1>Show domain</h1>

<p>
  <strong>Type:</strong>
  <%= @domain.type.humanize %>
</p>

<p>
  <strong>Domain:</strong>
  <%= @domain.domain %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @domain.enabled %>
</p>

<% if @domain.local_domain? %>
  <p>
    <strong>Catchall:</strong>
    <%= @domain.catchall %>
  </p>

  <p>
    <strong>Catchall target:</strong>
    <%= @domain.catchall_target %>
  </p>
<% end %>

<% if @domain.alias_domain? %>
  <p>
    <strong>Alias target:</strong>
    <%= @domain.alias_target %>
  </p>
<% end %>

<% if @domain.local_domain? %>
  <p>
    <strong>Accounts:</strong>
    <ul>
      <% Account.types.keys.each do |type| %>
        <li><%= @account_counts_by_type[type] || 0 %> <%= type.humanize.pluralize(@account_counts_by_type[type]) %></li>
      <% end %>
    </ul>
  </p>
<% end %>

<p>
  <strong>Known aliases:</strong>
  <% if @domain.known_alias_domains.empty? %>
    none
  <% else %>
    <ul>
      <% @domain.known_alias_domains.each do |alias_domain| %>
        <li><%= alias_domain.domain %></li>
      <% end %>
    </ul>
  <% end %>
</p>

<p>
  <strong>Actions:</strong>
  <%= link_to 'Edit domain', edit_domain_path(@domain) %> |
  <%= link_to_if @domain.local_domain?, 'Manage accounts', domain_accounts_path(@domain) %> |
  <%= link_to 'Destroy domain', @domain, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to_unless @domain.can_destroy?, 'Destroy domain (force)', domain_path(@domain, force: true), method: :delete, data: { confirm: 'Are you sure to force-delete this domain?' } %>
</p>

<br>

<%= link_to 'Back to list', domains_path %>