<h1>Dashboard</h1>

<h2>Mailserver configuration</h2>

<h3>Overview</h3>

<p>
  You have <%= @local_domains_count %> domains with
</p>
<ul>
  <li>
    <%= @local_mailboxes_count %> mailboxes,
  </li>
  <li>
    <%= @alias_addresses_count %> alias addresses and
  </li>
  <li>
    <%= @blackhole_addresses_count %> blackhole addresses.
  </li>
</ul>
<p>
  Furthermore, you have <%= @alias_domains_count %> alias domains.<br />
  » <%= link_to 'Manage domains', domains_path %>
</p>

<% if @configreload_webhook %>
  <h3>Reload</h3>

  <p>
    After making changes, you need to trigger a reload of the mailserver so that it will be used immediately.<br />
    » <%= link_to 'Reload configuration', configreload_dashboard_path, method: :post %>
  </p>
<% end %>

<h2>More information</h2>

<h3>Required domain configuration</h3>

<p>
  DNS records:
</p>
<pre>
@   3600    IN  MX  10  <%= @mailserver_hostname %>.
@   3600    IN  TXT     "v=spf1 include:<%= @mailserver_hostname %> ~all"
</pre>

<h3>Required mail client configuration</h3>

<p>
  Recommended configuration:
</p>
<pre>
SMTP submission:  StartTLS on <%= @mailserver_hostname %>:587
IMAP:             TLS on <%= @mailserver_hostname %>:993
ManageSieve:      StartTLS on <%= @mailserver_hostname %>:4190
</pre>

<p>
  Webmail: <%= link_to(nil, "https://#{@webmail_hostname}/", target: '_blank') %>
</p>

<p>
  Deprecated configurations:
</p>
<pre>
SMTP submission:  StartTLS on <%= @mailserver_hostname %>:25
SMTP submission:  TLS on <%= @mailserver_hostname %>:465
IMAP:             StartTLS on <%= @mailserver_hostname %>:143
POP3:             StartTLS on <%= @mailserver_hostname %>:110
POP3:             TLS on <%= @mailserver_hostname %>:995
</pre>