<h1>Dashboard</h1>

<ul>
  <li>
    You have <%= @local_domains_count %> domains with <%= @local_mailboxes_count %> mailboxes, <%= @alias_addresses_count %> alias addresses and <%= @blackhole_addresses_count %> blackhole addresses.
    Furthermore, you have <%= @alias_domains_count %> alias domains.
    <%= link_to 'Manage domains', domains_path %>
  </li>
</ul>

<h2>Required domain configuration</h2>

DNS records:
<pre>
@   3600    IN  MX  10  <%= @mailserver_hostname %>.
@   3600    IN  TXT     "v=spf1 include:<%= @mailserver_hostname %> ~all"
</pre>