<h1>Dashboard</h1>

<h2>Mailserver configuration</h2>

<h3>Overview</h3>

<p>
  You have <%= @local_domains_count %> domains with
</p>
<ul>
  <li>
    <%= @local_mailboxes_count %> mailboxes,
  </li>
  <li>
    <%= @alias_addresses_count %> alias addresses and
  </li>
  <li>
    <%= @blackhole_addresses_count %> blackhole addresses.
  </li>
</ul>
<p>
  Furthermore, you have <%= @alias_domains_count %> alias domains.<br />
  » <%= link_to 'Manage domains', domains_path %>
</p>

<% if @configreload_configured %>
  <h3>Reload</h3>

  <p>
    After making changes, you need to trigger a reload of the mailserver so that it will be used immediately.<br />
    » <%= link_to 'Reload configuration', configreload_dashboard_path, method: :post %>
  </p>
<% end %>

<h2>More information</h2>

<h3>Required domain configuration</h3>

<p>
  DNS records:
</p>
<pre>
<%= @mx_record %>
<% unless @spf_record.blank? %>
<%= @spf_record %>
<% end %>
</pre>

<h3>Required mail client configuration</h3>

<p>
  Recommended configuration:
</p>
<pre>
SMTP submission:  StartTLS on <%= @smtp_hostname %>:587
IMAP:             TLS on <%= @imap_hostname %>:993
<% unless @managesieve_hostname.blank? %>
ManageSieve:      StartTLS on <%= @managesieve_hostname %>:4190
<% end %>
</pre>

<p>
  Webmail: <%= link_to(nil, "https://#{@webmail_hostname}/", target: '_blank') %>
</p>

<p>
  Deprecated configurations:
</p>
<pre>
SMTP submission:  StartTLS on <%= @smtp_hostname %>:25
SMTP submission:  TLS on <%= @smtp_hostname %>:465
IMAP:             StartTLS on <%= @imap_hostname %>:143
<% unless @pop3_hostname.blank? %>
POP3:             StartTLS on <%= @pop3_hostname %>:110
POP3:             TLS on <%= @pop3_hostname %>:995
<% end %>
</pre>