<!DOCTYPE html>
<html>
  <head>
    <title>Mailadmin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if @user.id? %>
      <p id="login_bar">
        You are logged in as <%= @user.email %>.
        <% unless @login_via_http_auth %>
          <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
        <% end %>
      </p>
    <% end %>

    <% unless breadcrumbs_on_rails.empty? %>
      <p id="breadcrumbs">» <%= render_breadcrumbs %></p>
    <% end %>

    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
