<!DOCTYPE html>
<html>
  <head>
    <title>Mailadmin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless breadcrumbs_on_rails.empty? %>
    <p id="breadcrumbs"><%= render_breadcrumbs %></p>
    <% end %>

    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
