<%= form_with(model: [account.domain, account]) do |form| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
        <% account.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type %>
    <%= form.select :type, Account.types.keys.map { |t| [t.humanize, t] }, {}, disabled: !account.new_record? %>
    <% if account.new_record? %>
      (immutable, cannot be changed after creation)
    <% end %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, disabled: !account.new_record?, autofocus: account.new_record? %>
    <% if account.new_record? %>
      (immutable, cannot be changed after creation)
    <% end %>
  </div>

  <div class="field">
    <%= form.label :enabled %>
    <%= form.check_box :enabled %>
  </div>

  <% if account.new_record? || account.local_mailbox? %>
    <% if account.new_record? %>
      <p><strong>Only when local mailbox:</strong></p>
    <% end %>
    <div class="field">
      <%= form.label :password %>
      <%= form.password_field :password, autofocus: !account.new_record? %>
      <% unless account.new_record? %>
        (leave empty to let password remain unchanged)
      <% end %>
      <div class="field_description">
        <p>
        Note:<br /> If you specify a password, it will be checked against previous data breaches. The service <a href="https://haveibeenpwned.com/">Have I Been Pwned</a> will be used for this check. This works without submitting the password (<a href="https://blog.cloudflare.com/validating-leaked-passwords-with-k-anonymity/">k-Anonymity</a>).
        </p>
      </div>
    </div>

    <div class="field">
      <%= form.label :forward %>
      <%= form.check_box :forward %>
    </div>

    <div class="field">
      <%= form.label :forward_to %>
      <%= form.text_field :forward_to %>
    </div>
  <% end %>

  <% if account.new_record? || account.alias_address? %>
    <% if account.new_record? %>
      <p><strong>Only when alias address:</strong></p>
    <% end %>
    <div class="field">
      <%= form.label :alias_target %>
      <%= form.text_field :alias_target, disabled: !account.new_record? && !account.alias_address? %>
      (multiple addresses can be separated by a single comma without space)
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
