<h1>Accounts</h1>

<p>
  » <%= link_to 'New account', new_domain_account_path(@domain) %>
</p>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Type</th>
      <th>Enabled</th>
      <th>Password hash</th>
      <th>Forwarding/alias target</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.email %></td>
        <td class="tableEnum"><%= account.type.humanize %></td>
        <td class="tableBoolean"><%= account.enabled ? 'yes' : 'no' %></td>
        <td class="tableEnum"><%= account.crypt_hash_method %></td>
        <td><%= truncate(account.alias_address? ? account.alias_target : (account.forward ? account.forward_to : ''), length: 50) %></td>
        <td class="tableActions"><%= link_to 'Show', [@domain, account] %></td>
        <td class="tableActions"><%= link_to 'Edit', edit_domain_account_path(@domain, account) %></td>
        <td class="tableActions"><%= link_to 'Destroy', [@domain, account], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  » <%= link_to 'New account', new_domain_account_path(@domain) %>
</p>