<h1>Show account</h1>

<p>
  <strong>Email:</strong>
  <%= @account.email %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @account.enabled %>
</p>

<p>
  <strong>Password hash method:</strong>
  <%= @account.crypt_hash_method %>
</p>

<p>
  <strong>Forward:</strong>
  <%= @account.forward %>
</p>

<p>
  <strong>Forward to:</strong>
  <%= @account.forward_to %>
</p>

<p>
  <strong>Actions:</strong>
  <%= link_to 'Edit account', edit_domain_account_path(@domain, @account) %> |
  <%= link_to 'Destroy account', [@domain, @account], method: :delete, data: { confirm: 'Are you sure?' } %>
</p>

<br>

<%= link_to 'Back to list', domain_accounts_path(@domain) %>