<h1>Show account</h1>

<p>
  <strong>Type:</strong>
  <%= @account.type.humanize %>
</p>

<p>
  <strong>Email:</strong>
  <%= @account.email %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @account.enabled %>
</p>

<% if @account.local_mailbox? %>
  <p>
    <strong>Password hash method:</strong>
    <%= render 'crypt_hash_method', crypt_hash_method: @account.crypt_hash_method %>
  </p>

  <p>
    <strong>Forward:</strong>
    <%= @account.forward %>
  </p>

  <p>
    <strong>Forward to:</strong>
    <%= @account.forward_to %>
  </p>
<% end %>

<% if @account.alias_address? %>
  <p>
    <strong>Alias target:</strong>
    <%= @account.alias_target %>
  </p>
<% end %>

<p>
  <strong>Known aliases:</strong>
  <% if @account.known_alias_accounts.empty? and @account.known_catchall_domains.empty? %>
    none
  <% else %>
    <ul>
      <% @account.known_alias_accounts.each do |alias_account| %>
        <li><%= alias_account.email %></li>
      <% end %>
      <% @account.known_catchall_domains.each do |catchall_domain| %>
        <li>*@<%= catchall_domain.domain %></li>
      <% end %>
    </ul>
  <% end %>
</p>

<p>
  <strong>Actions:</strong>
  <%= link_to 'Edit account', edit_domain_account_path(@domain, @account) %> |
  <%= link_to 'Destroy account', [@domain, @account], method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to_unless @account.can_destroy?, 'Destroy account (force)', domain_account_path(@domain, @account, force: true), method: :delete, data: { confirm: 'Are you sure to force-delete this account?' } %>
</p>

<br>

<%= link_to 'Back to list', domain_accounts_path(@domain) %>